@page
@model Shop.Pages.Admin.IndexModel
@{

}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">مدیریت وب سایت</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">

    <!-- /.col-lg-8 -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> آمار وب سایت
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="list-group">
                <a href="/admin/comments" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> دیدگاه ها
                    <span class="pull-left text-muted small">
                        <em>@Model.Comments.Count</em>
                    </span>
                </a>
                <a href="/admin/users" class="list-group-item">
                    <i class="fa fa-user fa-fw"></i> کاربران
                    <span class="pull-left text-muted small">
                        <em>@Model.Users.Count</em>
                    </span>
                </a>
                <a href="/admin/products" class="list-group-item">
                    <i class="fa fa-product fa-fw"></i> محصولات
                    <span class="pull-left text-muted small">
                        <em>@Model.Products.Count</em>
                    </span>
                </a>
            
                <a href="/admin/disCounts" class="list-group-item">
                    <i class="fa fa-money fa-fw"></i>کد های تخفیف
                    <span class="pull-left text-muted small">
                        <em>@Model.Discounts.Count </em>
                    </span>
                </a>
                <a href="/admin/productcategories" class="list-group-item">
                    <i class="fa fa-icon-product-hunt fa-fw"></i>دسته بندی ها
                    <span class="pull-left text-muted small">
                        <em>@Model.ProductCategories.Count</em>
                    </span>
                </a>
                <a href="/Admin/orders" class="list-group-item">
                    <i class="fa fa-shopping-cart fa-fw"></i> سفارشات
                    <span class="pull-left text-muted small">
                        <em>@Model.Orders.Count</em>
                    </span>
                </a>

            </div>
            <!-- /.list-group -->
            <a href="/" class="btn btn-default btn-block">نمایش وب سایت</a>
        </div>
        <!-- /.panel-body -->
        <!-- /.panel -->
        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
