@model Shop.Core.DTOs.ShowProductListItemViewModel

<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="product-thumb">
        <div class="image"><a href="/product/ShowProduct/@Model.ProductId"><img src="/product/thumb/@Model.ImageName" alt="@Model.Title" title="@Model.Title" class="img-responsive" /></a></div>
        <div class="caption">
            <h4><a href="/product/ShowProduct/@Model.ProductId">@Model.Title</a></h4>
            <p class="price"><span class="price-new">@((Model.Price==0)?"رایگان":Model.Price.ToString("#,0") + "تومان") </span> <span class="price-old">@((Model.Price==0)?null:Model.OldPrice.ToString("#,0") + "تومان")</span></p>
        </div>
        <div class="button-group">
            <button class="btn-primary" type="button" onClick="cart.add('42');"><span>افزودن به سبد</span></button>
            <div class="add-to-links">
            </div>
        </div>

    </div>
</div>
<span class="clearfix visible-lg-block" />





