@model Tuple<List<Shop.Core.DTOs.ShowProductListItemViewModel>, int>
@using Shop.DataLayer.Entities.Product
@{
    ViewData["Title"] = "محصولات";
}

<div id="container">
    <form id="formFilter" method="get" action="/Product">
        <input type="hidden" id="pageid" name="pageId" value="@ViewBag.pageId.ToString()" />
        

        <div class="container">
            <!-- Breadcrumb Start-->
            <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li><a href="/Product/">محصولات</a></li>
            </ul>
            <!-- Breadcrumb End-->
            <div class="row">
                <!--Left Part Start -->
                <aside id="column-left" class="col-sm-3 hidden-xs">
                    <h3 class="subtitle">دسته ها</h3>
                    <section class="aside-section filter-by-category">
                        <header>
                            <h3> دسته بندی موضوعات </h3>
                        </header>
                        <div class="inner">
                            @{
                                List<ProductCategory> categories = ViewBag.Categories as List<ProductCategory>;
                                List<int> selected = ViewBag.selectedCategories as List<int>;
                            }
                            <ul>
                                @foreach (var category in categories.Where(p => p.ParentId == null))
                                {
                                    <li>
                                        <input onchange="changeCategory()" type="checkbox" @((selected.Any(s => s == category.CategoryId) ? "checked" : "")) name="selectedCategories" value="@category.CategoryId" id="cat-1">
                                        <label for="cat-1"> @category.CategoryTitle </label>
                                        @if (categories.Any(g => g.ParentId == category.CategoryId))
                                        {
                                            <ul>
                                                @foreach (var sub in categories.Where(g => g.ParentId == category.CategoryId))
                                                {
                                                    <li>
                                                        <input onchange="changeCategory()" @((selected.Any(s => s == sub.CategoryId) ? "checked" : "")) type="checkbox" name="selectedCategories" value="@sub.CategoryId" id="cat-1">
                                                        <label for="cat-1"> @sub.CategoryTitle </label>
                                                    </li>
                                                }
                                            </ul>
                                        }

                                    </li>
                                }
                            </ul>
                        </div>
                    </section>
             

                    <div class="banner owl-carousel">
                        <div class="item"> <a href="http://instagram.com/mohammadakhlaghi.ir"><img src="image/banner/insta.jpg" alt="محمد اخلاقی برنامه نویس تحت وب " class="img-responsive" /></a> </div>
                        <div class="item"> <a href="https://api.whatsapp.com/send?phone=989378982060"><img src="image/banner/whatsapp.jpg" alt="محمد اخلاقی برنامه نویس تحت وب" class="img-responsive" /></a> </div>
                    </div>
                </aside>
                <!--Left Part End -->
                <!--Middle Part Start-->
                <div id="content" class="col-sm-9">
                    <h1 class="title">محصولات</h1>


                    <div class="product-filter">
                        <div class="row">

                            <div class="col-sm-8 text-right">
                                <label class="control-label" for="input-sort">مرتب سازی :</label>
                            </div>

                            <div class="col-md-8 col-sm-6 text-right">
                                <select name="orderByType"
                                       
                                        class="form-control col-sm-3">
                                    <option value="">
                                        پیش فرض
                                    </option>
                                    <option value="date">
                                        تاریخ
                                    </option>
                                    <option value="free">
                                        رایگان
                                    </option>
                                    <option value="maxPrice">
                                        گرانترین
                                    </option>
                                    <option value="minPrice">
                                        ارزان ترین
                                    </option>
                                </select>

                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                                <div class="input">
                                    <input type="text" name="filter" placeholder="جستجو کنید">
                                    <button><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row products-category">
                        <div>
                            @foreach (var item in Model.Item1)
                            {
                                <partial name="_BoxProductCategory" model="@item" />
                            }
                        </div>
                    </div>
                    @if (Model.Item2 > 1)
                    {
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">

                                @for (int i = 1; i <= (int)Model.Item2; i++)
                                {
                                    <li class="page-item"><a class="page-link" onclick="changePage(@i)" href="#">@i</a></li>

                                }
                            </ul>
                        </nav>
                    }
                    <!--Middle Part End -->
                </div>
            </div>
        </div>
    </form>

</div>

@section Scripts{
    <script src="/css/noUiSlider/nouislider.min.js"></script>
    <script src="/js/script.js"></script>
    <script type="text/javascript">

        function changePage(pageid) {
            $("#pageid").val(pageid);
           

            $("#formFilter").submit();
        }

        $(function () {

            var slider = document.getElementById('priceFilter');
            noUiSlider.create(slider, {
                start: [20000, 100000],
                step: 5000,
                connect: true,
                direction: 'rtl',
                range: {
                    'min': 20000,
                    'max': 100000
                }
            });

            var marginMin = document.getElementById('min-text'),
                marginMax = document.getElementById('max-text');

            slider.noUiSlider.on('update', function (values, handle) {
                var xvalue = Math.round(values[handle]);
                if (handle) {
                    marginMax.innerHTML = xvalue;
                } else {
                    marginMin.innerHTML = xvalue;
                }
                //console.log(values[handle]);
            });

            slider.noUiSlider.on('change', function (values, handle) {
                var xvalue = Math.round(values[handle]);
                if (handle) {
                    // setGetParameter('max_price', xvalue);
                    $('#max-value').val(xvalue);
                } else {
                    // setGetParameter('min_price', xvalue);
                    $('#min-value').val(xvalue);
                }
            });


            slider.noUiSlider.on('slide', function (values, handle) {

                console.log(values[0]);
                console.log(values[1]);

                var xvalue = Math.round(values[handle]);
                //updateSliderRange( Math.round(values[0]), Math.round(values[1]) );
            });



            function updateSliderRange(min, max) {
                slider.noUiSlider.updateOptions({
                    range: {
                        'min': min,
                        'max': max
                    }
                });
            }
        });

        function changeCategory() {
            $("#formFilter").submit();
        }
        $('#selectEl').change(function () {
            // set the window's location property to the value of the option the user has selected
            window.location = $(this).val();



        });
      
    </script>
  


}