@model Shop.DataLayer.Entities.Product.Product
@using Shop.Core.Services.Interfaces
@inject IOrderService _OrderService;
@{
    ViewData["Title"] = Model.ProductTitle;
    bool IsUserInProduct = false;

    if (User.Identity.IsAuthenticated)
    {
        IsUserInProduct = _OrderService.IsUserInProduct(User.Identity.Name, Model.ProductId);
    }
}
@section MetaTag
    {
    <meta name=googlebot content=index,follow>
    <meta name=robots content=noodp,noydir>
    <meta name=description content="شرح صفحه">

    <meta property=og:site_name value="فروشگاه قالب محمد اخلاقی">
    <meta property=og:title content="@Model.ProductTitle">
    <meta property=og:url content="https://themesmad.ir/Product/ShowProduct/@Model.ProductTitle" />
    <meta property=og:image content="/product/image/@Model.ProductImageName">
    <meta property=og:image:url content="/product/image/@Model.ProductImageName" />
    <meta property=og:image:width content="700">

    <meta property=og:image:type content="image/jpg">
    <meta property=og:description content="">
    <meta property=og:price:currency content="IRR">
    <meta property=og:locale content="ir_FA">
}
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/product/" itemprop="url"><span itemprop="title">محصولات</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/product/ShowProduct/@Model.ProductId" itemprop="url"><span itemprop="title">@Model.ProductTitle</span></a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <div itemscope>
                    <h1 class="title" itemprop="name">@Model.ProductTitle</h1>
                    <div class="row product-info">
                        <div class="col-sm-6">
                            <div class="image"><img class="img-responsive" itemprop="image" id="zoom_01" src="/product/image/@Model.ProductImageName" title="@Model.ProductTitle" alt="@Model.ProductTitle" data-zoom-image="/product/image/@Model.ProductImageName" /> </div>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled description">
                                <li><b>تعداد فایل ها  :</b> <span itemprop="brand">@Model.ProductFile.Count</span></li>

                            </ul>
                            <ul class="list-unstyled description">
                                <li><b>تعداد خرید  :</b> <span itemprop="brand">@Model.UserProducts.Count</span></li>

                            </ul>
                            @if (Model.ProductPrice != 0)
                            {<ul class="price-box">
                                    <li class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <span class="price-old">@Model.ProductPriceOld.ToString("#,0") تومان</span>
                                        <span itemprop="price">@Model.ProductPrice.ToString("#,0") تومان<span itemprop="availability" content="موجود"></span></span>
                                    </li>
                                    <li></li>
                                </ul>}
                            @if (Model.ProductPrice == 0)
                            {
                                <ul class="price-box">
                                    <li class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <span itemprop="price">رایگان<span itemprop="availability" content="موجود"></span></span>
                                    </li>
                                    <li></li>
                                </ul>
                            }

                            <div id="product">

                                @if (Model.ProductPrice != 0 && !IsUserInProduct)
                                {<div class="cart">
                                        <div>

                                            <a href="/product/BuyProduct/@Model.ProductId" class="btn btn-primary"> افزودن به سبد</a>
                                        </div>

                                    </div>}
                                @if (!IsUserInProduct && Model.ProductPrice != 0)
                                {
                                    <div class="alert alert-info">
                                        <p>بعد از تایید فاکتور و پرداخت آن، لینک های دانلود برای شما فعال خواهد شد</p>
                                    </div>
                                }
                            </div>

                            <hr>
                            <!-- AddThis Button BEGIN -->


                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-514863386b357649"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-description" data-toggle="tab">توضیحات</a></li>
                        <li><a href="#tab-specification" data-toggle="tab">فایل ها</a></li>
                        <li><a href="#tab-review" data-toggle="tab">دیدگاه ها </a></li>
                    </ul>
                    <div class="tab-content">
                        <div itemprop="description" id="tab-description" class="tab-pane active">
                            <div>
                                @Html.Raw(Model.ProductDescription)
                            </div>
                        </div>
                        <div id="tab-specification" class="tab-pane ">
                            <div id="tab-specification" class="tab-pane">
                                @foreach (var item in Model.ProductFile)
                                {
                                    <table class="table table-bordered">
                                        @if (item.IsFree || IsUserInProduct)
                                        {
                                            <thead>

                                                <tr>
                                                    <td colspan="2"><strong>@item.FileTitle</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    @if (item.IsFree)
                                                    {
                                                        <td>رایگان</td>

                                                    }
                                                    else
                                                    {
                                                        <td>نقدی</td>
                                                    }
                                                    <td><a href="/DownloadFile/@item.FileId">لینک دانلود</a></td>
                                                </tr>
                                            </tbody>
                                        }

                                    </table>

                                }
                            </div>
                        </div>
                        <div id="tab-review" class="tab-pane">
                            <div class="form-horizontal">
                                <div id="listComment">

                                    <div class="text-right"></div>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form asp-controller="Product" asp-action="CreateComment"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          data-ajax-mode="replace"
                                          data-ajax-update="#listComment"
                                          data-ajax-success="Success">
                                        <input type="hidden" name="newComment.ProductId" value="@Model.ProductId" />
                                        <h2>یک دیدگاه بنویسید</h2><div class="form-group required">
                                        </div><div class="form-group required">
                                            <div class="col-sm-12">
                                                <label for="input-review" class="control-label">دیدگاه شما</label>
                                                <textarea class="form-control" id="newComment_Comment" rows="5" name="newComment.Comment" placeholder="متن دیدگاه"></textarea>
                                            </div>
                                        </div><div class="buttons">
                                            <div class="pull-right">
                                                <button class="btn btn-primary" id="button-review" type="submit">ثبت</button>
                                            </div>
                                        </div>
                                    </form>

                                }
                                else
                                {
                                    <div class="alert alert-danger">
                                        جهت درج نظر باید <a href="/login">وارد سایت</a> شوید
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <h3 class="subtitle">محصولات مرتبط</h3>
                    <div class="owl-carousel related_pro">
                        @*@foreach (var item in Model.ProductCategory)
                            {
                                <partial name="_BoxProduct" model="@item" />
                            }*@
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            <aside id="column-right" class="col-sm-3 hidden-xs">


                <div class="list-group">
                    <h3 class="subtitle">فروشگاه محمد اخلاقی</h3>
                    <p>فروشگاه محمد اخلاقی با ارزان ترین و مناسبت ترین پلاگین ها، قالب ها و... </p>
                    <p> در متنوع ترین محصولات کار خود را آغاز کرده است.</p>
                    <p>شما می توانید جهت هرگونه پشتیبانی و هر مورد دیگر، به تماس با ما وب سایت مراجعه کنید.</p>
                </div>
                @if (Model.Tags != null)
                {
                    <div class="tags-layer" style="margin-bottom:20px">
                        @foreach (string tag in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
                        {
                            <a href="/Product?filter=@tag"> @tag </a>
                        }
                    </div>
                }
            <center>
                <span > به اشتراک گذاری </span>
                <div style="margin-top:20px" class="social pull-right flip">

                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://themesmad.ir/Product/ShowProduct/@Model.ProductId">
                        <img data-toggle="tooltip" src="/image/socialicons/facebook.png" alt="Facebook" title="" data-original-title="Facebook">
                    </a>
                    <a href="https://plus.google.com/share?url=https://themesmad.ir/Product/ShowProduct/@Model.ProductId">
                        <img data-toggle="tooltip" src="/image/socialicons/google_plus.png" alt="Google+" title="" data-original-title="Google+" aria-describedby="tooltip544376">
                    </a>
                    <a href="https://twitter.com/intent/tweet?url=https://themesmad.ir/Product/ShowProduct/@Model.ProductId">
                        <img data-toggle="tooltip" src="/image/socialicons/twitter.png" alt="Twitter" title="" data-original-title="Twitter" aria-describedby="tooltip571058">
                    </a>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://themesmad.ir/Product/ShowProduct/@Model.ProductId">
                        <img data-toggle="tooltip" src="/image/socialicons/linkedin.png" alt="Linkedin" title="" data-original-title="Linkedin" aria-describedby="tooltip571058">
                    </a>

                    <a href="whatsapp://send?text=%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C%20%D8%B3%D8%A7%DB%8C%D8%AA%20%D8%AF%D8%B1%20%DA%A9%D8%B1%D8%AC%20https://themesmad.ir/Product/ShowProduct/@Model.ProductId" target="_blank">
                        <img data-toggle="tooltip" src="/image/socialicons/whatsapp.jpg" alt="WhatsApp" title="WhatsApp">
                    </a>
                </div>
            </center>
                
            </aside>
            <!--Right Part End -->
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function Success() {
            $("#newComment_Comment").val("");
        }

        $(function() {
            $("#listComment").load("/Product/ShowComment/" + @Model.ProductId);
        });

        function pageComment(pageid) {
            $("#listComment").load("/Product/ShowComment/" + @Model.ProductId+"?pageId="+pageid);
        }
    </script>
}
